@import '../../style/minxis.less';
@import '../../style/theme.less';


.bindwarp{
	display: flex;
	flex-flow: column;
	align-items:center;
}
.bind-tip{
	color: #8e8e8e;
	.px2px(font-size, 24px);
	.px2rem(line-height, 30px);
	.px2rem(margin-bottom, 30px);
	em{
		color: @base-color;
		font-style: normal;
	}
	display: flex;
	text-align: left;

}
.bind-tip-icon{
	display: inline-block;
	.px2rem(width, 30px);
	.px2rem(height, 30px);
	.px2rem(margin-right,12px);
	background: url(./images/icon-prompt@3x.png) no-repeat;
	background-size: cover;
	vertical-align: top;

}
.bind-tip-con{
	flex:1 1 auto;
}
.bind-inputwrapper{
	display: flex;
	.px2rem(height, 90px);
	.px2rem(width, 580px);
	.px2rem(margin-bottom, 30px);
	border:1px solid #d0d0d0;
	border-radius: 4px;
	overflow: hidden;
}
.bind-input{
	border:none;
	background: #fff;
	flex:1 1 auto;
	box-sizing: border-box;
	.px2rem(padding-left, 26px);
	.px2rem(padding-top, 30px);
	.px2rem(padding-bottom, 30px);
	.px2rem(line-height, 30px);
	.px2px(font-size, 30px);
}
.bind-codebtn{
	.px2rem(width, 150px);
	.px2rem(line-height, 90px);
	text-align: center;
	.px2px(font-size, 24px);
}
.bind-codebtn_1{
	background: #e9e9e9;
	color: #a0a0a0;
}
.bind-codebtn_2{
	background: #fe9200;
	color: #fff;
}


//绑定成功

.hadBind-con{
	.hadBind-icon{
		.px2rem(font-size,130px);
	}
	text-align: center;
}
.hadBind-icon{
	display: block;
	margin: 0 auto;
	.px2rem(font-size,130px);
	.px2rem(margin-bottom,30px);
	color: #66d474;
}
.hadBind-text_1{
	.px2px(font-size,40px);
	.px2px(line-height,40px);
	color: #282828;
	.px2rem(margin-bottom,30px);
}
.hadBind-text_2{
	.px2px(font-size,30px);
	.px2px(line-height,30px);
	.px2rem(margin-bottom,50px);
	color: #585858;
	em{
		.px2rem(margin-left,20px);
		color: @base-color;
		font-style: normal;
	}
}
.hadBind-tip{
	.px2rem(margin-bottom,70px);
	.px2px(font-size, 24px);
	text-align: left;
	display: flex;
}
.bint-tip-con{
	flex:1 1 auto;
}
.hadBind-btn{
	.btn(@base-color,#fff,80px,30px,4px);
}