// ------ Base & Require ------
@font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
@body-background: #f4f4f4;
@text-color: #585858;
//设计稿宽高
@design-width: 640px;
//@rem基准值
@base-rem: 64px;
//基础颜色
@base-color:#fe6e00;
//基础border
@base-border: 1px solid #d0d0d0;
//基础阴影
@base-shadow:0 4px 0 #e4e4e4;